<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
    Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--c1-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJdBX6YxLIHG7tQMUAEAP_lYYeGNoxUVAZib38hTPGMPEfpQeWeIlf-0OHdcdN6OlhA4Y&usqp=CAU" />
        </ion-thumbnail>
        <ion-label>Peter Parker</ion-label>
      </ion-item>
      <ion-chip color="danger">E-MAIL: homemaranha1@gmail.com</ion-chip>
      <ion-chip color="success">ID: 127</ion-chip>

      <a href="/contato1">Perfil</a>


  </ion-card-header>
  </ion-card>



  <!--c2-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://img.wattpad.com/28fd2633acc6d9e17721fce7f012ed23f7d80d3c/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4556507279457747785f6b566e413d3d2d38322e313564323963366362666262643730303633353933363034333238372e6a7067?s=fit&w=720&h=720" />
        </ion-thumbnail>
        <ion-label>Thor Odinson</ion-label>
      </ion-item>
      <ion-chip color="secondary">E-MAIL: vingadormaisforte@gmail.com</ion-chip>
      <ion-chip color="success">ID: 315</ion-chip>

      <a href="/contato">Perfil</a>

  </ion-card-header>
  </ion-card>



  <!--c3-->
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://64.media.tumblr.com/d15c525719f5f58a52b908e852601c69/tumblr_p84q7wSj8P1tk2oito2_400.png" />
        </ion-thumbnail>
        <ion-label>Steve Rogers</ion-label>
      </ion-item>
      <ion-chip color="medium">E-MAIL: supersoldado@gmail.com</ion-chip>
      <ion-chip color="success">ID: 065</ion-chip>

      <a href="/contato3">Perfil</a>

  </ion-card-header>
  </ion-card>


   <!--c4-->
   <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrJa7ss835E0SK8nkYsbZE8lqzejzRrSy6Xw&usqp=CAU" />
        </ion-thumbnail>
        <ion-label>Natasha Romanoff</ion-label>
      </ion-item>
      <ion-chip color="warning">E-MAIL: posedanath@gmail.com</ion-chip>
      <ion-chip color="success">ID: 855</ion-chip>


      <a href="/contato4">Perfil</a>
  </ion-card-header>
  </ion-card>


   <!--c5-->
   <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/53/da/07/53da070b6c96437d189f7a26310f5d91.jpg" />
        </ion-thumbnail>
        <ion-label>Michelle Jones</ion-label>
      </ion-item>
      <ion-chip color="tertiary">E-MAIL: mjdecepcoes@gmail.com</ion-chip>
      <ion-chip color="success">ID: 187</ion-chip>


      <a href="/contato5">Perfil</a>

  </ion-card-header>
  </ion-card>

</ion-content>
